/* Esto añade un borde sólido negro de 1px alrededor del cuerpo de la página */
.border-header-lr{
  border-left: 2px solid;
  border-right: 2px solid;
}
.border-header-l{
  border-left: 2px solid;

}
.border-header-r{
  border-right: 2px solid;
}
.border-header-t{
  border-top: 2px solid;
}

.border-header-b{
  border-bottom: 2px solid;

}

.border-header-t, .border-header-b, .border-header-lr,.border-header-r,.border-header-l{
  border-color: #aeaeae;
}

.edition-img{
 width: 36rem;
  height: 22rem;
}
