<!--Section Projects -->
<section class="px-4 body-font relative">
  <div class="container mx-auto  ">
  <!--      lg:w-1/2 md:w-2/3-->
      <div class=" border-header-t border-header-lr border-header-b flex flex-wrap  justify-center ">
        <h1 class="text-4xl text-center font-bold border-header-lr  px-6 py-2">PROJECTS</h1>
      </div>
    <div class="border-header-lr grid items-center justify-center gap-4 text-center md:px-6 py-4">
      <!-- Container in Grid div 4x4 | | nx4 -->
      <div class="grid w-full grid-cols-1 gap-4 md:grid-cols-2 lg:gap-4 xl:gap-6 ">
          <a href="https://github.com/HectorC20/venta_de_productos_ferreteria" target="_blank"><img src="../../../../assets/img/proyectos/enacristina/proyecto_en_1.png" class="edition-img"/></a>
          <a href="https://github.com/HectorC20/venta_de_productos_ferreteria" target="_blank"><img src="../../../../assets/img/proyectos/enacristina/proy_app_web_ena_cristina.jpg" class="edition-img "/></a>
      </div>
    </div>
  </div>

</section>
