<!--Section Projects -->
<section class="px-4 body-font relative" id="project">
  <div class="container mx-auto  ">
  <!--      lg:w-1/2 md:w-2/3-->
      <div class=" border-header-t border-header-lr border-header-b flex flex-wrap  justify-center ">
        <h1 class="text-4xl text-center font-bold border-header-lr text-accent px-6 py-2">PROJECTS</h1>
    </div>
<!--Section - Carousel | items 4 - 4 -->
  <section class="carousel relative  pt-2  border-header-lr">
    <div class="carousel-inner relative overflow-hidden w-full">
      <!--Slide 1-->
      <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden="" checked="checked">
      <div class="carousel-item absolute opacity-0 mx-auto md:w-3/4 object-cover" >

        <button class=" shadow-[#496989] shadow-xl ">
          <a href="https://taxiseguronorte.com/" target="_blank"><img src="../../../../assets/img/proyectos/taxiseguro/taxi1.jpeg" class="edition-img"/></a>
        </button>

      </div>

      <label for="carousel-5" class="prev control-1 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 left-0 my-auto">‹</label>
      <label for="carousel-2" class="next control-1 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 right-0 my-auto">›</label>

      <!--Slide 2-->
      <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
      <div class="carousel-item absolute opacity-0 mx-auto md:w-3/4 object-cover">

        <button class="shadow-[#496989] shadow-xl">
          <a href="https://github.com/HectorC20/venta_de_productos_ferreteria" target="_blank"><img src="../../../../assets/img/proyectos/enacristina/2.png" class="edition-img "/></a>
        </button>

      </div>
      <label for="carousel-1" class="prev control-2 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 left-0 my-auto">‹</label>
      <label for="carousel-3" class="next control-2 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 right-0 my-auto">›</label>

      <!--Slide 3-->
      <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">

      <div class="carousel-item absolute opacity-0 mx-auto md:w-3/4 object-cover">

        <button class="shadow-[#496989] shadow-xl">
          <a href="https://github.com/HectorC20/venta_de_productos_ferreteria" target="_blank"><img src="../../../../assets/img/proyectos/enacristina/3.png" class="edition-img "/></a>
        </button>
      </div>
      <label for="carousel-2" class="prev control-3 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 left-0 my-auto">‹</label>
      <label for="carousel-4" class="next control-3 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 right-0 my-auto">›</label>
      <!--Slide 4-->

      <input class="carousel-open" type="radio" id="carousel-4" name="carousel" aria-hidden="true" hidden="">
      <div class="carousel-item absolute opacity-0 mx-auto md:w-3/4 object-cover">

        <button class="shadow-[#496989] shadow-xl">
          <a href="https://www.mtjg.lat/" target="_blank"><img src="../../../../assets/img/proyectos/mtjg/1.png" class="edition-img"/></a>
        </button>

      </div>
      <label for="carousel-3" class="prev control-4 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 left-0 my-auto">‹</label>
      <label for="carousel-5" class="next control-4 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 right-0 my-auto">›</label>

      <!--Slide 5-->
      <input class="carousel-open" type="radio" id="carousel-5" name="carousel" aria-hidden="true" hidden="">
      <div class="carousel-item absolute opacity-0 mx-auto md:w-3/4 object-cover">

        <button class="shadow-[#496989] shadow-xl">
          <a href="https://github.com/HectorC20/venta_de_productos_ferreteria" target="_blank"><img src="../../../../assets/img/proyectos/enacristina/4.png" class="edition-img "/></a>
        </button>

      </div>
      <label for="carousel-4" class="prev control-5 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 left-0 my-auto">‹</label>
      <label for="carousel-1" class="next control-5 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 right-0 my-auto">›</label>

      <!-- Add additional indicators for each slide-->
      <ol class="carousel-indicators">
        <li class="inline-block mr-3">
          <label for="carousel-1" class="carousel-bullet cursor-pointer block text-4xl text-white hover:text-blue-700">•</label>
        </li>
        <li class="inline-block mr-3">
          <label for="carousel-2" class="carousel-bullet cursor-pointer block text-4xl text-white hover:text-blue-700">•</label>
        </li>
        <li class="inline-block mr-3">
          <label for="carousel-3" class="carousel-bullet cursor-pointer block text-4xl text-white hover:text-blue-700">•</label>
        </li>
        <li class="inline-block mr-3">
          <label for="carousel-4" class="carousel-bullet cursor-pointer block text-4xl text-white hover:text-blue-700">•</label>
        </li>
        <li class="inline-block mr-3">
        <label for="carousel-5" class="carousel-bullet cursor-pointer block text-4xl text-white hover:text-blue-700">•</label>
      </li>

      </ol>
    </div>
  </section>
  </div>
</section>
