/*Tamaño personalizado para el png y svg*/
.edition-svg{
  width: 3rem;
  height: 3rem;
}

/*background por defecto "theme" */
.filter-sun{
  color: #FDA403;
  filter: drop-shadow(6px 2px 12px #E8751A);
}
.filter-moon{
  color: #58A399;
  filter: drop-shadow(6px 2px 12px #E2F4C5);
}

