<!--Section Client -->
<section class="px-4 body-font relative" id="client">
  <div class="container mx-auto  ">
    <!--      lg:w-1/2 md:w-2/3-->
    <div class=" border-header-t border-header-lr border-header-b flex flex-wrap  justify-center ">
      <h1 class="text-4xl text-center font-bold border-header-lr text-accent px-6 py-2">CLIENT</h1>
    </div>

    <div class=" flex flex-wrap border-header-lr justify-center  px-4 py-4 md:h-3/4">
      <img src="../../../../assets/img/iconos_logos/logos/imagen_presentacion.svg" alt="presentacion" class="edition-img "/>
        <div class=" flex flex-col justify-end px-5 xl:mx-auto">
          <p class="text-4xl font-semibold md:w-3/4 py-2">If you have any ideas or proposals to collaborate.</p>
          <p class="text-2xl font-light pb-2">I am here to listen to you and work together.</p>
          <div class="text-[1.5rem] font-semibold">
            <button class=" bg-[#FFAF45] hover:bg-[#FDA403]  py-2 px-5  rounded-full " ><a href="#contact_me"> LET'S WORK TOGETHER
            </a></button>
          </div>
        </div>
    </div>
  </div>
</section>
