.skill_font{
  font-family: "Roboto Light", Georgia, Serif;
  font-size: 1.5rem;
}

.edition-icons{
  width: 4rem;
  height: 4rem;
}

/* Esto añade un borde sólido negro de 1px alrededor del cuerpo de la página */
.border-header-lr{
  border-left: 1px solid;
  border-right: 1px solid;
}
.border-header-t{
  border-top: 1px solid;
}

.border-header-b{
  border-bottom: 1px solid;
}

.border-header-t, .border-header-lr, .border-header-b{
 border-color: #aeaeae;
}
