<section class="px-4 body-font relative">
  <div class="container mx-auto border-header-lr border-header-t  ">
      <div class="flex flex-wrap  justify-center  border-header-b">
        <h1 class="text-4xl text-center font-bold border-header-lr text-accent px-6 py-2">SKILLS</h1>
      </div>

    <div class="container grid items-center justify-center gap-4 px-4 text-center md:px-6  py-4">
  <!-- Container in Grid div 4x4 | | nx4 -->
      <div class="grid w-full grid-cols-2 gap-4 md:grid-cols-4 lg:gap-6 xl:gap-8 ">

        <div class=" flex flex-col items-center justify-center p-4 hover:-translate-y-1 hover:scale-110 duration-300 rounded-lg shadow-sm md:p-6 border dark:border-gray-300">
          <a href="https://www.postgresql.org/" target="_blank"><img src="../../../assets/img/iconos_logos/iconos/postgresql.svg" class="edition-icons" alt="postgresql_icon"></a>
          <p>PostgreSQL</p>
        </div>

        <div class=" flex flex-col items-center justify-center p-4  hover:-translate-y-1 hover:scale-110 duration-300 rounded-lg shadow-sm md:p-6 border dark:border-gray-300">
          <a href="https://netbeans.apache.org/front/main/" target="_blank"> <img src="../../../assets/img/iconos_logos/iconos/netbeans.svg" class="edition-icons" alt="netbeans_icon"></a>
          <p>NetBeans</p>
        </div>

        <div class=" flex flex-col items-center justify-center p-4  hover:-translate-y-1 hover:scale-110 duration-300 rounded-lg shadow-sm md:p-6 border dark:border-gray-300">
          <a href="https://www.jetbrains.com/idea/?var=1" target="_blank"><img src="../../../assets/img/iconos_logos/iconos/intellij.svg" class="edition-icons" alt="intellij-idea_icon"></a>
          <p>IntelliJ IDEA</p>
        </div>

        <div class=" flex flex-col items-center justify-center p-4  hover:-translate-y-1 hover:scale-110 duration-300 rounded-lg shadow-sm md:p-6 border dark:border-gray-300">
          <a href="https://www.php.net/docs.php" target="_blank"> <img src="../../../assets/img/iconos_logos/iconos/php.png" class="edition-icons" alt="php_icon"> </a>
          <p>PHP</p>
        </div>
        <div class=" flex flex-col items-center justify-center p-4  hover:-translate-y-1 hover:scale-110 duration-300 rounded-lg shadow-sm md:p-6 border dark:border-gray-300">
          <a href="https://git-scm.com/about" target="_blank"> <img src="../../../assets/img/iconos_logos/iconos/git.png" class="edition-icons" alt="git_icon"> </a>
          <p>GIT</p>
        </div>
        <div class=" flex flex-col items-center justify-center p-4  hover:-translate-y-1 hover:scale-110 duration-300 rounded-lg shadow-sm md:p-6 border dark:border-gray-300">
          <a href="https://mdbootstrap.com/docs/standard/" target="_blank"> <img src="../../../assets/img/iconos_logos/iconos/mdb.png" class="edition-icons" alt="mdb_icon"> </a>
          <p>MDB5</p>
        </div>
        <div class=" flex flex-col items-center justify-center p-4  hover:-translate-y-1 hover:scale-110 duration-300 rounded-lg shadow-sm md:p-6 border dark:border-gray-300">
          <a href="https://learn.microsoft.com/en-us/sql/ssms/download-sql-server-management-studio-ssms?view=sql-server-ver16" target="_blank">  <img src="../../../assets/img/iconos_logos/iconos/sql.svg" class="edition-icons" alt="sql-ssms_icon"> </a>
          <p>SQL - SSMS</p>
        </div>

        <div class=" flex flex-col items-center justify-center p-4  hover:-translate-y-1 hover:scale-110 duration-300 rounded-lg shadow-sm md:p-6 border dark:border-gray-300">
          <a href="https://www.postman.com/downloads/" target="_blank">   <img src="../../../assets/img/iconos_logos/iconos/postman.svg" class="edition-icons" alt="postman_icon"> </a>
          <p>Postman</p>
        </div>

        <div class=" flex flex-col items-center justify-center p-4  hover:-translate-y-1 hover:scale-110 duration-300 rounded-lg shadow-sm md:p-6 border dark:border-gray-300">
          <a href="https://www.typescriptlang.org/" target="_blank">  <img src="../../../assets/img/iconos_logos/iconos/typescript.svg" class="edition-icons" alt="typescript_icon"></a>
          <p>Typescript</p>
        </div>

        <div class=" flex flex-col items-center justify-center p-4  hover:-translate-y-1 hover:scale-110 duration-300 rounded-lg shadow-sm md:p-6 border dark:border-gray-300">
          <a href="https://developer.mozilla.org/es/docs/Web/HTML" target="_blank">  <img src="../../../assets/img/iconos_logos/iconos/html.svg" class="edition-icons" alt="html_icon"> </a>
          <p>HTML 5</p>
        </div>

        <div class=" flex flex-col items-center justify-center p-4  hover:-translate-y-1 hover:scale-110 duration-300 rounded-lg shadow-sm md:p-6 border dark:border-gray-300">
          <a href="https://tailwindcss.com/" target="_blank">  <img src="../../../assets/img/iconos_logos/iconos/tailwind.svg" class="edition-icons" alt="tailwind_icon"> </a>
          <p>Tailwind</p>
        </div>

        <div class=" flex flex-col items-center justify-center p-4  hover:-translate-y-1 hover:scale-110 duration-300 rounded-lg shadow-sm md:p-6 border dark:border-gray-300">
          <a href="https://developer.mozilla.org/es/docs/Learn/Getting_started_with_the_web/CSS_basics" target="_blank">  <img src="../../../assets/img/iconos_logos/iconos/css.svg" class="edition-icons" alt="css_icon"> </a>
          <p>CSS</p>
        </div>

        <div class=" flex flex-col items-center justify-center p-4  hover:-translate-y-1 hover:scale-110 duration-300 rounded-lg shadow-sm md:p-6 border dark:border-gray-300">
          <a href="https://dev.java/" target="_blank"> <img src="../../../assets/img/iconos_logos/iconos/java.svg" class="edition-icons" alt="java_icon"></a>
          <p>Java</p>
        </div>

        <div class=" flex flex-col items-center justify-center p-4  hover:-translate-y-1 hover:scale-110 duration-300 rounded-lg shadow-sm md:p-6 border dark:border-gray-300">
          <a href="https://github.com/" target="_blank"> <img src="../../../assets/img/iconos_logos/iconos/github.svg" class="edition-icons" alt="github_icon"></a>
          <p>GitHub</p>
        </div>

        <div class=" flex flex-col items-center justify-center p-4  hover:-translate-y-1 hover:scale-110 duration-300 rounded-lg shadow-sm md:p-6 border dark:border-gray-300">
          <a href="https://angular.io/docs" target="_blank">   <img src="../../../assets/img/iconos_logos/iconos/angular.svg" class="edition-icons" alt="angular_icon"> </a>
          <p>Angular</p>
        </div>
      </div>
    </div>
  </div>
</section>
