.theme-white{
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
  --tw-gradient-from: #F0F3FF var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(99 102 241 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
