.border-header-l,.border-header-lr{
  border-left: 2px solid;

}
.border-header-r,.border-header-lr{
  border-right: 2px solid;
}
.border-header-t{
  border-top: 2px solid;
}

.border-header-b{
  border-bottom: 0.2rem solid;

}

.border-header-t, .border-header-b, .border-header-lr,.border-header-r,.border-header-l{
  border-color: #aeaeae;

}
.img-perfil{
  width: 16rem;
  mask-image: linear-gradient( black 79%, transparent);
  filter: drop-shadow(8px 5px 10px #bcbab7);
}
.edition-icons{
  width: 2rem;
  height: 2rem;
}

.filter-whs{
  filter: drop-shadow(3px 2px 12px #96a28e);
}
.filter-lnd{
  filter: drop-shadow(3px 2px 12px #444f72);
}
.filter-gth{
  filter: drop-shadow(3px 2px 12px #c5bbbb);
}
