<!--Section About Me-->
<section class="px-4 body-font relative">
  <!--CM - center-->
  <div class="container mx-auto  ">
    <div class="  border-header-t border-header-lr">
<!--      lg:w-3/4 md:w-3/4-->
      <div class="flex flex-row justify-end ">
        <img class="img-perfil  mx-auto mt-4 mb-4" src="../../../assets/img/iconos_logos/iconos/perfil.png" alt="perfil-2048x2048">
        <div class="flex flex-col border-header-l  ">

          <h1 class="text-4xl  font-bold pb-3 p-2 ">
            HÉCTOR CABRERA
          </h1>
          <p class="border-header-t  p-2">Systems Engineering student with a solid understanding of software development, design patterns such as MVC and DAO.</p>

        </div>
      </div>
      <div class=""></div>
    </div>
  </div>
</section>
<!--   esp: Expansiones dependiendo del tamaño de la pantalla-->
<!--<div class="lg:w-1/2 md:w-2/3 mx-auto ">-->

<!--</div>-->
