<!--Section About Me-->
<section class="px-4 body-font relative border-header-t">
  <!--CM - center-->
  <div class="container mx-auto  ">
    <div class=" border-header-lr">
<!--      lg:w-3/4 md:w-3/4-->
      <div class="flex flex-row justify-start ">
        <img class="img-perfil  mx-auto mt-4 mb-4" src="../../../assets/img/iconos_logos/iconos/perfil.png" alt="perfil-2048x2048">
        <div class=" border-header-l  ">
          <div class="flex flex-wrap">
            <h1 class="text-4xl text-secondary font-bold pb-3 p-2">
              HÉCTOR CABRERA
            </h1>
            <div class="flex flex-wrap p-3">
              <a href="https://wa.link/7bitzy" target="_blank"><img src="../../../assets/img/iconos_logos/iconos/whatsapp.svg" class="edition-icons ml-2 filter-whs"></a>
              <a href="https://www.linkedin.com/in/h%C3%A9ctor-cabrera-0646a5279/" target="_blank"><img src="../../../assets/img/iconos_logos/iconos/linkedin.svg" class="edition-icons ml-2 filter-lnd"></a>
              <a href="https://github.com/HectorC20" target="_blank"><img src="../../../assets/img/iconos_logos/iconos/github.svg" class="edition-icons ml-2 filter-gth"></a>
            </div>
          </div>

          <p class="border-header-t hidden md:block  p-2">Systems Engineering student with a solid understanding of software development, design patterns such as MVC and DAO.</p>

          <div class="flex flex-grow ">
          <div class=" hidden md:block pl-2 pb-2 md:pr-20">
            <ol>
              <li class="text-2xl font-semibold pb-2">Studies</li>
              <li> 2021-Current Affairs</li>
              <li class=" font-semibold">University Cesar Vallejo</li>
              <li class=" font-semibold">SYSTEMS ENGINEERING</li>
            </ol>
          </div>
            <div class=" hidden md:block pl-4 pb-2 md:pl-24">
              <p class="text-2xl font-semibold pb-2"> Aptitudes</p>
              <ol>
                <li>Flexibility</li>
                <li>Proactivity</li>
                <li>Teamwork</li>
              </ol>
            </div>
          </div>
            <button class="flex mt-3 m-auto text-[#673F69] bg-[#FFAF45] border-0 py-2 px-8 focus:outline-none hover:bg-[#FB6D48] rounded text-lg">
              <a href="../../assets/pdf/curriculum/cv_sistemas_hector.pdf" class="justify-center" download target="_blank">Download CV</a>
            </button>
        </div>
      </div>
    </div>
  </div>
</section>
